{% assign related_product_image_size = 'large' %}
{% assign number_of_related_products_to_show = 3 %}
{% assign heading = 'Other fine products' %}
{% assign show_related = true %}
  {% capture related_markup %}
  <div id="related-products" class="section padless-bottom border-top">
    <div class="container">
      <h3>{{ 'products.product.related_title' | t }}</h3>
      
        <div class="related-product-list related-{{ settings.prod_rel_meth }} {% if settings.prod_rel_titles %}show-desc{% endif %}" data-normheights=".image-cont" data-normheights-inner="img">
            {% if settings.prod_rel_meth == 'collection' %}
          	  <ul class="items"><!--
                {% assign product_collection = collection %}
          		{% unless product_collection %}{% assign need_new_collection = true %}{% else %}{% assign need_new_collection = false %}{% endunless %}
                {% if need_new_collection or product_collection.handle == 'all' or product_collection.handle contains 'frontpage' %}
                    {% for coll in product.collections %}
                        {% unless coll.handle == 'all' or coll.handle contains 'frontpage' %}
          					{% assign product_collection = coll %}
                        {% endunless %}
                    {% endfor %}
                {% endif %}
                {% assign prod_rel_count = 0 %}
                {% assign prod_rel_limit_int = 8 %}
                {% assign prod_rel_limit_plus_one = prod_rel_limit_int | plus: 1 %}
                {% paginate product_collection.products by prod_rel_limit_plus_one %}
                    {% for relprod in product_collection.products %}
                        {% if relprod.handle != product.handle and prod_rel_limit_int > prod_rel_count %}
                            {% assign prod_rel_count = prod_rel_count | plus: 1 %}
                            {% assign show_related = true %}
							--><li><div class="item"><a class="image-cont" href="{{ relprod.url | within: collection }}" title="{{ relprod.title }}">{{ relprod.featured_image | product_img_url: related_product_image_size | img_tag: relprod.title }}</a><div class="desc"><a href="{{ relprod.url | within: collection }}">{{ relprod.title }}</a></div></div></li><!--
                        {% endif %}
                    {% endfor %}
                {% endpaginate %}
              --></ul>
            {% elsif settings.prod_rel_meth == 'tag-coll' %}
          	  <ul class="items"><!--
                {% for tag in product.tags %}
                    {% if tag contains 'meta-related-collection-' %}
                        {% assign product_collection_handle = tag | remove: 'meta-related-collection-' %}
                        {% assign product_collection = collections[product_collection_handle] %}
                        {% assign prod_rel_count = 0 %}
                        {% assign prod_rel_limit_int = 7 %}
                        {% assign prod_rel_limit_plus_one = prod_rel_limit_int | plus: 1 %}
                        {% paginate product_collection.products by prod_rel_limit_plus_one %}
                            {% for relprod in product_collection.products %}
                                {% if relprod.handle != product.handle and prod_rel_limit_int > prod_rel_count %}
                                    {% assign prod_rel_count = prod_rel_count | plus: 1 %}
                                    {% assign show_related = true %}
									--><li><div class="item"><a class="image-cont" href="{{ relprod.url | within: collection }}" title="{{ relprod.title }}">{{ relprod.featured_image | product_img_url: related_product_image_size | img_tag: relprod.title }}</a><div class="desc"><a href="{{ relprod.url | within: collection }}">{{ relprod.title }}</a></div></div></li><!--
                                {% endif %}
                            {% endfor %}
                        {% endpaginate %}
                    {% endif %}
                {% endfor %}
              --></ul>
            {% elsif settings.prod_rel_meth == 'tag-handle' %}
                {% for tag in product.tags %}
                    {% if tag contains 'meta-related-product-' %}{% assign show_related = true %}{% endif %}
                {% endfor %}
                <ul class="items"></ul>
                <script>
                //Load in related products via ajax
                $(function(){
                  Shopify.money_format = {{ shop.money_format | json }};
                  var related_tags = products.id{{ product.id }}.tags;// {{ product.tags | json }};
                  var i;
                  var tags_count = 0;
                  for(i=0; i<related_tags.length; i++) {
                    if(related_tags[i].indexOf('meta-related-product-') >= 0) {
                      tags_count++;
                      if(tags_count > 7) {
                         break;
                         }
                         var rel_handle = related_tags[i].substring('meta-related-product-'.length);
                      $.getJSON('/products/'+rel_handle+'.js', function(data) {
                        //Build product
                        var $prod = $('<a class="image-cont"/>').attr({ href: data.url, title: data.title });
                        $('<img/>').attr({ src: data.featured_image.replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_'+{{ related_product_image_size | json }}+'$1'), alt: data.title }).css('opacity', 0).appendTo($prod);
                        $prod = $prod.wrap('<div class="item"/>').parent().wrap('<li/>').parent();
                        $('<div class="desc"/>').append($('<a/>').attr('href', data.url).html(data.title)).appendTo($prod);
                        $prod.appendTo('#related-products .related-product-list .items').imagesLoaded(function(){
                          $prod.find('img').animate({opacity: 1}, 200);
                        });
                      });
                    }
                  }
                });
                </script>
            {% endif %}
        </div>
    </div>
  </div><!-- /#related-products -->
  {% endcapture %}
{% if show_related %}{{ related_markup }}{% endif %}