

<!doctype html>
<!--[if IE 8]><html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- Canopy v1.0.1 -->
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">

  <title>
    {{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.tagged' | t }} "{{ current_tags | join: ', ' }}"{% endif %}
    {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t }} {{ current_page }}{% endif %}
    {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    {% if template == "customers/login" %} &ndash; Login{% endif %}
    {%if template == "customers/activate_account"%} &ndash; Activate Account{% endif %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#1dc2e9" />
  <link rel="canonical" href="{{ canonical_url }}" />
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}

  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{ 'materialize.css' | asset_url | stylesheet_tag }}

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="https://cdn.ravenjs.com/3.2.1/raven.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}


  {% comment %} Google Fonts {% endcomment %}
  {% assign gfonts = '' %}
  {% assign setting_indexes = 'body_font|heading_font|nav_font|logo_font' | split: '|'%}
  {% for index in setting_indexes %}
  {% if settings[index] contains 'GWF' %}
  {% assign custom_index = index | append: '_custom' %}
  {% capture gfonts %}{{ gfonts }}|{% if settings[index] contains 'GWF|CUSTOM' %}{{ settings[custom_index] }}{% else %}{{ settings[index] | split: '|' | last }}{% endif %}{% endcapture %}
  {% endif %}
  {% endfor %}

  {% if gfonts != '' %}

    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

    <!--[if lt IE 9]>
      {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
      {{ 'selectivizr-min.js' | asset_url | script_tag }}
      {{ 'ie8.css' | asset_url | stylesheet_tag }}
    <![endif]-->



    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

{% endif %}




    {{ content_for_header }}


    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
      products = {};
      Shopify.money_format = {{ shop.money_format | json }};
    </script>

    <!-- Dorrbell Adboe TypeKit -->
    <script src="https://use.typekit.net/jey4hge.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Google code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65052243-1', 'auto');
      ga('send', 'pageview');

    </script>

    {{ 'dorrbell-styles.scss.css' | asset_url | stylesheet_tag }}
    {% include 'bacon-menu' %}
  </head>

  <body class="template-{{ template | split: '.' | first }}" {% if template == "customers/login" %}style="margin:0;"{%endif%}{%comment%}{% if template == "customers/login" %}style="background-image:url({{ 'background.gif' | asset_url }});"{% endif %}{%endcomment%}>
    {% include 'firebase' %}
    {% include 'db' %}

    <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T5BGXX"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T5BGXX');</script>
    <!-- End Google Tag Manager -->


    <header>
      {% include 'main-navigation' %}
      {% include 'main-navigation-sublist' %}
    </header>
    <main>
      {{content_for_layout}}
    </main>


    {{ 'libs.js' | asset_url | script_tag }}
    {{ 'scripts.js' | asset_url | script_tag }}

    <input type="hidden" name="_pc_params" value="{{ shop.permanent_domain }}:{{ customer.id }}" />



  </body>
  </html>
