

<!doctype html>
<!--[if IE 8]><html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- Canopy v1.0.1 -->
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">

  <title>
    {{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.tagged' | t }} "{{ current_tags | join: ', ' }}"{% endif %}
    {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t }} {{ current_page }}{% endif %}
    {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    {% if template == "customers/login" %} &ndash; Login{% endif %}
    {%if template == "customers/activate_account"%} &ndash; Activate Account{% endif %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="canonical" href="{{ canonical_url }}" />
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}

  		<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="https://cdn.ravenjs.com/3.2.1/raven.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}


  {% comment %} Google Fonts {% endcomment %}
  {% assign gfonts = '' %}
  {% assign setting_indexes = 'body_font|heading_font|nav_font|logo_font' | split: '|'%}
  {% for index in setting_indexes %}
  {% if settings[index] contains 'GWF' %}
  {% assign custom_index = index | append: '_custom' %}
  {% capture gfonts %}{{ gfonts }}|{% if settings[index] contains 'GWF|CUSTOM' %}{{ settings[custom_index] }}{% else %}{{ settings[index] | split: '|' | last }}{% endif %}{% endcapture %}
  {% endif %}
  {% endfor %}
  {% if gfonts != '' %}
    <link href="//fonts.googleapis.com/css?family={{ gfonts | remove_first: '|' | replace: ' ', '+' | replace: "'", '' }}" rel="stylesheet" type="text/css">
  {% endif %}

{% if template != "customers/login" and template != "customers/activate_account" and template != "customers/reset_password" and template != "customers/register" %}

      {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

      <!--[if lt IE 9]>
      {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
      {{ 'selectivizr-min.js' | asset_url | script_tag }}
      {{ 'ie8.css' | asset_url | stylesheet_tag }}
      <![endif]-->



      {{ 'option_selection.js' | shopify_asset_url | script_tag }}
      {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

      {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
      {% endif %}


 {% endif %}




    {{ content_for_header }}


  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');
    products = {};
    Shopify.money_format = {{ shop.money_format | json }};
  </script>

  	<!-- Dorrbell Adboe TypeKit -->
	<script src="https://use.typekit.net/jey4hge.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

  {{ 'dorrbell-styles.scss.css' | asset_url | stylesheet_tag }}
	{% include 'bacon-menu' %}
</head>

<body class="template-{{ template | split: '.' | first }}" {% if template == "customers/login" %}style="margin:0;"{%endif%}{%comment%}{% if template == "customers/login" %}style="background-image:url({{ 'background.gif' | asset_url }});"{% endif %}{%endcomment%}>
  {% include 'firebase' %}
  {% include 'db' %}
        <div id="page-wrap">
          <div id="page-wrap-inner">
            <div id="page-wrap-content">
              <div class="container">
                <div class="page-header">
                  <div id="toolbar" class="toolbar cf">
                    <span class="mobile-toolbar">
                      <a class="toggle-mob-nav" href="#"><i class="icon-nav"></i></a>
                      {% if settings.use_compact_mobile_header %}
                      <a class="compact-logo" href="/index">{% if settings.use_logo %}{{ 'compact_logo.png' | asset_url | img_tag }}{% else %}{{ shop.name }}{% endif %}</a>
                      {% endif %}
                    </span>

                    {% unless settings.header_layout == 'mobile' %}
                    <span class="toolbar-links">
                      {% if shop.customer_accounts_enabled %}
                      {% if customer  %}
                      <a href="/account">{{ 'layout.customer.your_account' | t }}</a>
                      <span class="divider">/</span> {{ 'layout.customer.logout' | t | customer_logout_link }}
                      {% else %}
                      {{ 'layout.customer.login' | t | customer_login_link }}
                      {% if shop.customer_accounts_optional %}
                      <span class="divider">/</span> {{ 'layout.customer.create_account' | t | customer_register_link }}
                      {% endif %}
                      {% endif %}
                      {% if settings.show_header_search %}<span class="divider">/</span>{% endif %}
                      {% endif %}


                      <a href="javascript:void(0);" id="logout-link">Logout</a><span style="margin:0rem 1rem;">|</span>
                      <a href="/pages/referrals" class="modal-trigger" id="referral-link">$0 credit</a><span style="margin:0rem 1rem;">|</span>

                      {% if settings.show_header_search %}
                      <form class="search-form" action="/search" method="get">
                        {% if settings.search_prods_only %}<input type="hidden" name="type" value="product">{% endif %}
                        <button class="icon-mag"></button>
                        <input type="text" name="q" placeholder="{{ 'layout.header.search' | t }}" style="margin-bottom:0;"/>
                      </form>
                      {% endif %}
                    </span>
                    {% endunless %}

                    <span class="toolbar-cart">
                      <span class="{% unless settings.show_cart_as_button %}no-{% endunless %}btn">
                        <a class="current-cart db-cart-button {% if template != 'cart' %}toggle-cart-summary{% endif %}" href="/cart">
                          {%comment%}{{ cart.item_count }} / {{ cart.total_price | money }} <i class="icon-cart"></i>{%endcomment%}
                          View Your Items / {{ cart.item_count }}
                        </a>
                      </span>
                    </span>

                    {%comment%}
                      {% unless settings.header_layout == 'mobile' %}
                        <span class="toolbar-social">
                          {% include 'social-links' %}
                        </span>
                      {% endunless %}
                    {%endcomment%}
                  </div>

                  <div class="logo-nav">
                    {% capture logo_html %}
                    <div class="logo align-{% if settings.header_layout == 'left' %}left{% else %}center{% endif %}">
                      {% if settings.use_logo %}{{ 'logo.png' | asset_url | img_tag | link_to: "/index" }}{% else %}{{ shop.name | link_to: shop.url }}{% endif %}
                    </div>
                    {% endcapture %}

                    {% unless settings.header_layout == 'nav' %}<div class="cf">{{ logo_html }}</div>{% endunless %}

                    {% unless settings.header_layout == 'mobile' %}
                    {% include 'main-navigation' %}
                    {% endunless %}
                  </div>
                </div>
              </div>
              <div id="content">
                {{content_for_layout}}
              </div>
            </div><!-- /#page-wrap-content -->

            {% include 'footer' %}
            <a id="page-overlay" href="#"></a>
          </div>
        </div><!-- /#page-wrap -->

        {% include 'mobile-navigation' %}

        {% include 'cart-summary' %}

  {{ 'libs.js' | asset_url | script_tag }}
  {{ 'scripts.js' | asset_url | script_tag }}

<input type="hidden" name="_pc_params" value="{{ shop.permanent_domain }}:{{ customer.id }}" />
</body>
</html>
