<div class="home-container">
	<div class="home-content">
      <div style="margin-bottom: 1rem;">You have a <span class="referral-link"></span>. <a href="/pages/referrals" class="dorrbell-blue-text">Learn how</a> you can earn more.</div>
      <div id="home-hero">
        <div id="relax">{{ 'relax.gif' | asset_url | img_tag }}</div>
      </div>
      <div id="stylist">
        <div id="stylist-text">A Dorrbell personal shopper is standing by and ready to pick up your clothes from the stores and deliver them to your door.</div>
      </div>
      <div class="home-header">Featured Portland Stores</div>
      <section id="featured-stores">
        <div class="featured-store-left"><a href="/collections/ecovibe-apparel">{{ 'featured-ecovibe.jpg' | asset_url | img_tag }}</a></div>
        <div class="featured-store-center"></div>
        <div class="featured-store-right"><a href="/collections/vintalier">{{ 'featured-vintalier.jpg' | asset_url | img_tag }}</a></div>
      </section>

      <section id="local-fav">
        <div class="home-header">Local Favorites</div>
        <div class="local-fav-col">
          <div class="local-fav-img"><a href="/collections/le-court">{{ 'local-fav-le-court.jpg' | asset_url | img_tag }}</a></div>
          <div class="local-fav-desc">Le Court<br/>Mens | Downtown<br/><span class="home-store-msg">Over 20 items on sale</span></div>
        </div>
        <div class="local-fav-gutter">&nbsp;</div>
        <div class="local-fav-col">
          <div class="local-fav-img"><a href="/collections/so-simone">{{ 'local-fav-so-simone.jpg' | asset_url | img_tag }}</a></div>
          <div class="local-fav-desc">So... Simone<br/>Womens | Pearl District<br/><span class="home-store-msg"></span></div>
        </div>
        <div class="local-fav-gutter">&nbsp;</div>
        <div class="local-fav-col">
          <div class="local-fav-img"><a href="/collections/collier">{{ 'local-fav-collier.jpg' | asset_url | img_tag }}</a></div>
          <div class="local-fav-desc">Collier<br/>Mens | Downtown<br/><span class="home-store-msg">Exclusive Offer: 20% off all items</span></div>
        </div>
        <div class="local-fav-gutter">&nbsp;</div>
        <div class="local-fav-col">
          <div class="local-fav-img"><a href="/collections/urban-edge">{{ 'local-fav-urban-edge.jpg' | asset_url | img_tag }}</a></div>
          <div class="local-fav-desc">Urban Edge<br/>Mens | Northwest<br/><span class="home-store-msg">New Store</span></div>
        </div>
      </section>

      <section id="deals">
        <div class="home-header deals-header">Deals<br/><span class="home-deals-header">See something you like?  Try it on at home before paying. <a href="#">Learn more</a></span></div>
        <div class="deals-gutter">&nbsp;</div>
        <div class="deals-col">
          <div class="deals-img"><a href="/products/hi-low-sleeveless-tunic-in-taupe">{{ 'deals-1.jpg' | asset_url | img_tag }}</a></div>
          <div class="deals-desc">Hi-Lo Sleeveless Tunic<br/><span class="markdown">$30</span><span class="sale-price">$20</span></div>
        </div>
        <div class="deals-gutter">&nbsp;</div>
        <div class="deals-col">
          <div class="deals-img"><a href="products/short-sleeve-round-hem-dress">{{ 'deals-2.jpg' | asset_url | img_tag }}</a></div>
          <div class="deals-desc">Round Hem Tee Dress<br/><span class="markdown">$41</span><span class="sale-price">$32</span></div>
        </div>
        <div class="deals-gutter">&nbsp;</div>
        <div class="deals-col">
          <div class="deals-img"><a href="/products/stripe-tunic-top">{{ 'deals-3.jpg' | asset_url | img_tag }}</a></div>
          <div class="deals-desc">Stripe Tunic Top<br/><span class="markdown">$86</span><span class="sale-price">$62</span></div>
        </div>
        <div class="deals-gutter">&nbsp;</div>
        <div class="deals-col">
          <div class="deals-img"><a href="/products/short-sleeve-shark-bite-tunic">{{ 'deals-4.jpg' | asset_url | img_tag }}</a></div>
          <div class="deals-desc">Shark Bite Tunic<br/><span class="markdown">$46</span><span class="sale-price">$32</span></div>
        </div>
        <div class="deals-gutter">&nbsp;</div>
        <div class="deals-col">
          <div class="deals-img"><a href="/products/white-texture-knit-top">{{ 'deals-5.jpg' | asset_url | img_tag }}</a></div>
          <div class="deals-desc">White Textured Top<br/><span class="markdown">$108</span><span class="sale-price">$78</span></div>
        </div>
        <div class="deals-gutter">&nbsp;</div>
        <div class="deals-col">
          <div class="deals-img"><a href="/products/sleeveless-striped-a-line-dress">{{ 'deals-6.jpg' | asset_url | img_tag }}</a></div>
          <div class="deals-desc">Striped Dress<br/><span class="markdown">$36</span><span class="sale-price">$25</span></div>
        </div>
        <div class="deals-gutter">&nbsp;</div>
      </section>

      <section id="browse-women">
        <div class="home-header">Browse Women</div>
        <div class="browse-row-top">
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/women-clothing/tops">{{ 'browse-w-tops.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Tops</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/women-clothing/dresses">{{ 'browse-w-dresses.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Dresses</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/women-handbags">{{ 'browse-w-bags.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Bags</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/women-clothing/jeans">{{ 'browse-w-jeans.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Jeans</div>
          </div>
        </div>
        <div class="browse-row">
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/women-clothing/sweaters">{{ 'browse-w-sweaters.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Sweaters</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/women-clothing/scarves-wraps">{{ 'browse-w-scarves.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Scarves</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/women-clothing/tops+tanks-camis">{{ 'browse-w-tanks.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Tanks</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/women-clothing/women-shoes">{{ 'browse-w-shoes.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Shoes</div>
          </div>
        </div>
      </section>

      <section id="browse-men">
        <div class="home-header">Browse Men</div>
        <div class="browse-row-top">
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/men-clothing/shorts">{{ 'browse-m-shorts.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Shorts</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/men-clothing/t-shirts">{{ 'browse-m-tees.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Tees</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/men-clothing/casual-shirts">{{ 'browse-m-casual-shirts.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Casual Shirts</div>
          </div>
          <div class="browse-gutter">&nbsp;</div>
          <div class="browse-col">
            <div class="browse-img"><a href="/collections/men-shoes">{{ 'browse-m-shoes.jpg' | asset_url | img_tag }}</a></div>
            <div class="browse-header">Shoes</div>
          </div>
        </div>
      </section>

	</div>
</div>

{% include 'unbounce-conversion-tracker' %}
