{% assign variant = product.selected_or_first_available_variant %}
{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

<div class="container" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image | product_img_url: 'grande' }}" />
  {% for variant in product.variants %}
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="{{ variant.price | money_without_currency | strip_html }}" />
    <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
    {% if product.available %}
    <link itemprop="availability" href="http://schema.org/InStock" />
    {% else %}
    <link itemprop="availability" href="http://schema.org/OutOfStock" />
    {% endif %}  
  </div>
  {% endfor %}

  <div class="inline-row">
    {% if collection %}
    <div class="next-prev inline-item left links-row desktop">
      <a class="back-link" href="{{ collection.url }}" title="{{ collection.title | escape }}"><span>{{ 'products.product.back_to_html' | t }}</span> <span>{{ collection.title }}</span></a>
    </div>
    
    <div class="inline-item right last desktop">
      {% if collection.previous_product %}
      <a href="{{ collection.previous_product }}">{{ 'products.product.previous' | t }}</a>
      {% if collection.next_product %} <span class="divider">/</span> {% endif %}
      {% endif %}
      
      {% if collection.next_product %}
      <a href="{{ collection.next_product }}">{{ 'products.product.next' | t }}</a>
      {% endif %}
    </div>
    {% endif %}
      
    {% comment %}
    <!-- Begin breadcrumbs -->
    <div class="breadcrumbs inline-item left">
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>

      {% if collection %}
      <span class="divider">{{ 'general.breadcrumbs.divider_html' | t }}</span>
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url"><span itemprop="title">{{ collection.title }}</span></a></span>
      {% endif %}

      <span class="divider">{{ 'general.breadcrumbs.divider_html' | t }}</span>
      <strong>{{ product.title }}</strong>
    </div>
    <!-- End breadcrumbs -->
    {% endcomment %}
  </div>
  
  
  {% if settings.product_notification_show %}
  <div class="notification">{{ settings.product_notification_text }}</div>
  {% endif %}

  
  <div class="row space-under">
    <!-- begin navigation -->
    <div style="float:left; width:150px;">
      	{% for link in linklists.left-nav-product-types.links %}
      		<a href="{{ link.url }}">{{ link.title }}</a>
		{% endfor %}
    </div>
    <!-- end navigation -->
    <!-- begin gallery -->
    <div class="product-gallery half column">
      <div class="main">
        <a class="main-img-link" href="{{ featured_image | img_url: 'master' }}" title="{{ featured_image.alt | escape }}">
          <img class="main-img" src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
        </a>
      </div>
      
      {% if product.images.size > 1 %}
      <div class="thumbnails">
        {% for image in product.images %}
        <a class="thumbnail" title="{{ image.alt | escape }}" href="{{ image | product_img_url: 'master' }}" data-src="{{ image | product_img_url: '1024x1024' }}">
          {{ image | img_url: 'small' | img_tag: image.alt }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- end gallery -->
    
    <!-- begin product form and details -->
    <div class="half column product-details" style="width:30%;">
      <div class="border-bottom section padless-top cf product-title-row">
        <h1 class="product-title" itemprop="name">{{ product.title }}</h1>
        {% if settings.prod_show_brand or settings.prod_show_type %}
        <div class="brand-and-type feature-col">
          {% if settings.prod_show_brand %}
          {% comment %}
          Do we have a collection that has the same name as our product vendor name?
          If we do, let's have the vendor link point to it.
          If not, we will point to the automatic vendor collection.
          {% endcomment %}
          {% assign product_vendor_handle = product.vendor | handle %}
          {% if collections[product_vendor_handle].handle == product_vendor_handle %}
          {% assign vendor_url = collections[product_vendor_handle].url %}
          {% else %}
          {% assign vendor_url = product.vendor | url_for_vendor %}
          {% endif %}
          <span class="brand" itemprop="brand">Store: {{ product.vendor | link_to: vendor_url }}</span>
          {%if product.metafields.product.brand%}<br/><span class="brand">Brand: {{product.metafields.product.brand}}</span>{%endif%}
          {% endif %}
          
          {% if settings.prod_show_type and product.type != blank %}
          {% if settings.prod_show_brand %}/{% endif %}
          
          {% assign product_type_handle = product.type | handle %}
          {% if collections[product_type_handle].handle == product_type_handle %}
          {% assign type_url = collections[product_type_handle].url %}
          {% else %}
          {% assign type_url = product.type | url_for_type %}
          {% endif %}
          <span class="type">{{ product.type | link_to: type_url }}</span>
          {% endif %}
        </div>
        {% endif %}

        <section id="price_info">
        <div id="price" class="product-price {% if variant.metafields.price.metalistprice > variant.metafields.price.metaprice %}on-sale{% endif %}">
          	{% if variant.metafields.price.metalistprice > variant.metafields.price.metaprice %}
        		<del>{{variant.metafields.price.metalistprice|money}}</del>
        	{% endif %}
          {{ variant.metafields.price.metaprice|money}}
        </div>
        </section>
        
        <section id="product-notes">	
          <p class="db-prod-notes">You will only be charged for this item if you decide to keep it after your in-home try on. You will not be charged the amount above during checkout.</p>
        </section>


        
        {%comment%}{% include 'sharing' with product %}{%endcomment%}
      </div>
      
      <div class="section {% unless settings.prod_desc_loc == 'under' %}border-bottom{% endunless %}">
        {% if settings.prod_show_sku and product.variants.first.sku != blank %}
        <div class="space-under sku-row">{{ 'products.product.sku' | t }} <span id="sku">{{ product.variants.first.sku }}</span></div>
        {% endif %}

        {% if product.available %}
        <form class="product-form" id="product-form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{ product.id }}">
          {% assign hide_default_title = false %}
          {% if product.variants.size == 1 %}
          {% if product.variants.first.title contains 'Default' %}
          {% assign hide_default_title = true %}
          {% endif %}
          {% unless settings.prod_singlevar_mode contains 'drop' %}
          {% assign hide_default_title = true %}
          {% endunless %}
          {% endif %}

          {% unless product.variants.size != 1 or product.variants.first.title contains 'Default' %}
          {% if settings.prod_singlevar_mode contains 'text' %}
          <div class="variant-info">
            {% for option in product.options %}
            {% assign option_key = 'option' | append: forloop.index %}
            <span class="option">{% if settings.prod_singlevar_mode contains 'withlabel' %}<span class="label">{{ option }}:</span>{% endif %} {{ product.variants.first[option_key] }}</span>{% unless forloop.last %},{% endunless %}
            {% endfor %}
          </div>
          {% endif %}
          {% endunless %}
                    
          <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
            <select id="product-select" name="id" class="hidden">
              {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
            
          </div>
          

          {% if settings.prod_show_quantity_input %}
          <div class="quantity">
            <label for="quantity">{{ 'products.product.quantity' | t }}</label>
            <input class="select-on-focus" type="text" size="3" id="quantity" name="quantity" value="1" />
          </div>
          {% else %}
          <input type="hidden" name="quantity" value="1" />
          {% endif %}

          {% comment %} This is the add-to-cart button {% endcomment %}

          <button name="add" id="add">{{ 'products.product.add_to_cart_html' | t }}</button>


          <div id="backorder" class="hidden">
            <p><span id="selected-variant"></span> {{ 'products.product.backorder' | t }}</p>
          </div>
        </form>

        {% else %}

        <div class="rte">
          {{ 'products.product.product_unavailable_html' | t }}
        </div>
        {% endif %}

      </div>
      
      {% unless settings.prod_desc_loc == 'under' %}
      <div class="product-description rte" itemprop="description">{{ product.description }}</div>
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      {% endunless %}
      
    </div>
    <!-- end product form and details -->
  </div>
  {% if settings.prod_desc_loc == 'under' %}
  <div class="product-description rte spaced-row reading-column" itemprop="description">{{ product.description }}</div>
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  {% endif %}
  
  
  {% if collection %}
  <div class="links-row mobile section border-top">
    <a class="back-link" href="{{ collection.url }}" title="{{ collection.title | escape }}"><i class="icon-arrow3-left slim"></i> <span>{{ collection.title }}</span></a>

    {% if collection.previous_product %}
    <a href="{{ collection.previous_product }}">{{ 'products.product.previous' | t }}</a>
    {% if collection.next_product %} <span class="divider">/</span> {% endif %}
    {% endif %}

    {% if collection.next_product %}
    <a href="{{ collection.next_product }}">{{ 'products.product.next' | t }}</a>
    {% endif %}
  </div>
  {% endif %}
</div>

{% include 'related-products' %}


<script>products.id{{ product.id }} = {{ product | json }};</script>

<script>
  var metalistprice = [];
  var metaprice = [];
{% for variant in product.variants %}
  	{% if variant.metafields.price.metaprice %}
	  	{% if variant.metafields.price.metalistprice %}
	    	metalistprice[{{ variant.id }}] = {{ variant.metafields.price.metalistprice }};
        {% else %}
	    	metalistprice[{{ variant.id }}] = 0;
        {% endif%}
    	metaprice[{{ variant.id }}] = {{ variant.metafields.price.metaprice }};
    {% elsif product.metafields.price.metaprice %}
	  	{% if product.metafields.price.metalistprice %}
	    	metalistprice[{{ variant.id }}] = {{ product.metafields.price.metalistprice }};
        {% else %}
	    	metalistprice[{{ variant.id }}] = 0;
        {% endif%}
    	metaprice[{{ variant.id }}] = {{ product.metafields.price.metaprice }};
    {% else %}
    	metalistprice[{{ variant.id }}] = 0;
    	metaprice[{{ variant.id }}] = 0;
    {% endif %}
{% endfor %}
</script>
